/*
*   Homepage Styles
*/
.breaker-space{margin-top: 50px;}

/*
*   Blog Post Styling
*/

.blog-post-meta{font-size: 12px;}
.blog-post-preview{font-size: 18px;}
.list-unstyled{font-size: 12px;}

#spot-dummy-window .spot-dummy-visual-content-input{
    position: absolute;
    max-width: 100%;
    overflow: visible;
    overflow-x: hidden;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 0;
  }

  /*
   * Typography
   */

  h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  /*
   * Sidebar
   */

  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

  .sidebar .nav {
    margin-bottom: 20px;
  }

  .sidebar .nav-item {
    width: 100%;
  }

  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }

  .sidebar .nav-link {
    border-radius: 0;
  }

  /*
   * Dashboard
   */

  /* Placeholders */
  .placeholders {
    padding-bottom: 3rem;
  }

  .placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  /*.bg-light {*/
    /*background-color: #f8f9fa !important;*/
  /*}*/
